<html>
{% extends "Header.html" %}


{% block content_block %}
  
    <h2> 食塩水 R-002　実験記録</h2>
    <h3> 作業者
        <select name="example">
            <option value="選択肢0">""</option>
            <option value="選択肢1">太郎</option>
            <option value="選択肢2">次郎</option>
            <option value="選択肢3">三郎</option>
            <option value="選択肢3">四郎</option>
        </select>
    </h3>
    <h3> 作業者
        <select name="example">
            <option value="選択肢0">""</option>
            <option value="選択肢1">太郎</option>
            <option value="選択肢2">次郎</option>
            <option value="選択肢3">三郎</option>
            <option value="選択肢3">四郎</option>
        </select>
    </h3>
    <h3> 作業者
        <select name="example">
            <option value="選択肢0">""</option>
            <option value="選択肢1">太郎</option>
            <option value="選択肢2">次郎</option>
            <option value="選択肢3">三郎</option>
            <option value="選択肢3">四郎</option>
        </select>
    </h3>
    <h3> 作業者
        <select name="example">
            <option value="選択肢0">""</option>
            <option value="選択肢1">太郎</option>
            <option value="選択肢2">次郎</option>
            <option value="選択肢3">三郎</option>
            <option value="選択肢3">四郎</option>
        </select>
    </h3>
    <h3> 作業者
        <select name="example">
            <option value="選択肢0">""</option>
            <option value="選択肢1">太郎</option>
            <option value="選択肢2">次郎</option>
            <option value="選択肢3">三郎</option>
            <option value="選択肢3">四郎</option>
        </select>
    </h3>

    <br>
    <h1> <a href= "{% url 'App:section1_1' %}" >  実験開始する</h1> </a>

{% endblock %}
    </html>